@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sour-gummy), "Jua";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tint: oklch(0.928 0.006 264.531);
  --highlighter: rgba(255, 237, 58, 1);
  --accent: #FF7F7F;
}

.dark {
  --background: oklch(0.278 0.033 256.848);
  --foreground: #ededed;
  --tint: oklch(0.373 0.034 259.733);
  --highlighter: rgba(58, 175, 220, 1);
  --accent: #9296A9;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes highlighterAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.icon-rotate {
  animation: rotateIcon 0.5s ease-in-out;
}

.blog-shine {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0 0.5em;
  margin: 0 -0.5em;
  border-radius: 32px 43px 16px 42px;
  z-index: 2;
}

.blog-shine::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.3em;
  background: var(--highlighter);
  transform: translateX(-100%);
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.blog-shine:hover::before {
  opacity: 1;
  animation: highlighterAnimation 0.5s ease-out forwards;
}

.Card:hover .Card__image {
  transform: scale(1.2);
}

.Card__imageHolder::before {
  content: "description";
  color: #fff;
  font-size: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 5;
  transition: opacity 400ms ease;
}

.Card:hover .Card__imageHolder::before {
  opacity: 1;
}

.Card__image {
  transition: all 400ms ease;
}

.Categories::after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid var(--foreground);
  border-radius: 3px;
}

.markdown-body {
  background-color: var(--background);
}
